body {
    background-color: #fff;
}

/*nav bar*/
.header {
	width: 100%; /*stretches to 100% of the browser*/
	height: 71px;
	margin: 0 auto;
}

.logo, 
.headerlinks {
	position: absolute;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 325px;
	margin-right: 325px;
}

.logo {
	width: 26px; 
	height: 70px;
}

.headerlinks {
	padding-left: 400px;
	width: 945px;
}

.headerlinks > li {
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
	cursor: pointer;
	color: LightGray;
}

/*Intro section*/
.introduction {
	background-image: url('../Images/first-background.jpg');
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
}

.intro-header, 
.intro-subheader {
	text-align: center;
	color: white;
	padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}

.intro-header {
    font-size: 3.125rem;
    font-weight: 300;
    padding-top: 280px;
}


.intro-subheader {
	margin-top: 1.25rem;
    font-size: 1.563rem;
    font-weight: 100;
}


.learn-div {
	text-align: center;
	padding-top: 30px;
}

.learn-button {
	background-color: #f15a29;
	color: white;
	width: 200px;
	height: 50px;
	text-shadow: none;
    border-style: none;
    border-radius: 4px;
}


/*below fold section*/


.below-header {
	text-align: center;
    margin: 100px;
    min-width: 980px;
    font-weight: 100;
    text-align: center;

}

.icon-list > li {
	height: 127px;
	width: 127px;
	display: inline-block;
	padding-bottom: 80px;
	text-align: center;
}















